/** Display profile picture on main page. */
.banner-profile-image {
    z-index: 10;
    flex-shrink: 0;
    margin-bottom: 20px;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 0 6px hsla(0, 0%, 100%, .1);
    border-radius: 50%;
}

/* Reduce vertical padding, it was way too much on an ultrawide monitor. */
.site-banner {
    padding: 100px 0;
}

/* Shrink banner text on small screens to ensure it fits. */
@media (max-width: 500px) {
    .site-banner-title {
        font-size: 3rem;
    }
}

/* Slightly increase size of social icons. */
.site-nav-icon {
    height: 20px;
}
